<p>data-upload works!</p>
<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
<table class="minimalistBlack" *ngIf="students.length > 0">    
  <thead>    
    <tr>    
      <th>Klasse </th>    
      <th>FirstName </th>    
      <th>LastName </th>    
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let student of students;let i = index;">    
      <td> <span>{{student.class}}</span> </td>    
      <td> <span>{{student.firstName}}</span> </td>    
      <td> <span>{{student.lastName}}</span> </td>    
 
    </tr>    
  </tbody>    
</table>      