<br><br>
<p>classes works!</p>

<div id="classes">
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_1</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_2</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_3</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_4</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_5</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_6</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_7</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_8</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_9</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_10</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_11</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_12</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_13</button>
    <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>FS172_14</button>
</div>