#students {
    margin: auto;
    width: 75%;
    // border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.noTextTransform {
    text-transform: none;
}

.lbl{
    width: 25%;
    margin: auto;
    text-align: center;
}