.mat-tab-group {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.formf {
    padding-top: 7.5px;
}

.lblgrp {
    width: 60%;
    padding-left: 15%;
}

.inputgrp {
    width: 10%;
    margin-right: 15%;
}

.divsubmit {
    text-align: center;
}