<mat-tab-group mat-align-tabs="center" animationDuration="0ms" [color]="'warn'">
    <mat-tab label="Gruppengröße">
        <form class="formf">
            <label class="lblgrp">Gruppengröße festlegen:</label>
            <input type="number" class="inputgrp" [(ngModel)]="grpGroesse" [ngModelOptions]="{standalone: true}">
            <div class="divsubmit">
                <button mdbBtn (click)="grpGroesseAuswahl()" type="submit" color="light" mdbWavesEffect id="btnsubmit">Auswahl starten</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Gruppenanzahl">
        <form class="formf">
            <label class="lblgrp">Gruppenanzahl festlegen:</label>
            <input type="number" class="inputgrp" [(ngModel)]="grpAnzahl" [ngModelOptions]="{standalone: true}">
            <div class="divsubmit">
                <button mdbBtn  (click)="grpAnzahlAuswahl()" type="submit" color="light" mdbWavesEffect id="btnsubmit">Auswahl starten</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Einzelauswahl">
        <form class="formf">
            <div class="divsubmit">
                <button mdbBtn (click)="einzelAuswahl()" type="submit" color="light" mdbWavesEffect id="btnsubmit">Auswahl starten</button>
            </div>
        </form>
    </mat-tab>
</mat-tab-group>
